.game-log {
  ul {
    list-style: none;
    margin: 0;
    padding:0;
    li {
      margin: 0;
      padding: 6px;
      border-bottom: 1px solid #d8d8d8;
      &.you {
        color: #86f3bc;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}