.prompt {
  position: relative;
  input {
    font-size: 21px;
    padding: 12px 12px 12px 32px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    color: #d8d8d8;
    font-family: 'Inconsolata', monospace;
    &:focus{
      outline: none;
      border-bottom: 1px solid #86f3bc;
      color: #86f3bc;
    }
    position: relative;
  }
  i {
    position: absolute;
    left: 11px;
    font-size: 21px;
    padding: 12px 0;
    font-style: normal;
  }

  &.active {
    i {
      color: #86f3bc;
      animation-name: blink;
      animation-duration: 1800ms;
      animation-iteration-count: infinite;
      opacity: 1;
    }
  }
}

@keyframes blink {
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}