@import 'styles/variables';

.App {
  max-width: 760px;
  margin: 20px auto;
  //background-color: $bg_color;
}

.header {
  position: relative;
  .user-link {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

