* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 12px;
  font-size: 22px;
  line-height: 1.1;
  font-weight: normal;
  background: #333;
  font-family: 'Inconsolata', monospace;
  color: #d8d8d8;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

a {
  color: #2c67f3;
  text-decoration: none;
}
